<div class="w-5/6 m-auto">
    <h1 id="text3D" class="mt-16 text-center">{{ name | uppercase }}</h1>
    <p class="text-justify indent-8 font-mono mt-8 dark:text-white">
        Hi, my name is Danilo Rivero Pérez and I have made an application that performs different operations with text strings.
        To make this application, I have made use of Angular services to communicate the different components.
        To test the operation of the application, all you have to do is write the textarea "Input Area", the text you want.
        Then, you can click on any of the available buttons, and the result of the corresponding operation will be reflected in the "Output Area" textarea.
        Also, you can see the history of operations carried out. Hope you like. All the best!
    </p>
</div>